/* Three image containers (use 25% for four, and 50% for two, etc) */
.protect-canva {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.protect-preview::after {
  content: "";
  clear: both;
  display: table;
}
