{#
/**
 * @file
 * Default theme implementation to display a formatted  icm field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - protection: Yes/No
 * - link_image_to: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="protect-preview">
    {% for key,value in url %}
        <div class="protect-canva">
            {% if link_image_to %}
                {% if link_image_to.type == 'content' %}
                    <img alt="{{ value.alt }}" src="{{ value.uri }}" onclick="window.open('{{ link_image_to.path }}', '_self')" />
                {% endif %}
                {% if link_image_to.type == 'file' %}
                    <img  alt="{{ value.alt }}" src="{{ value.uri }}" onclick="window.open('{{ value.uri }}', '_self')"/>
                {% endif %}
            {% else %}
                <img alt="{{ value.alt }}" src="{{ value.uri }}" data-cycle-title="{{ value.title }}"/>
            {% endif %}
        </div>
    {% endfor %}
</div>
